@use 'variables';
@use 'breakpoints';

$animationDuration: variables.$animationDuration;
$animationStyle: variables.$animationStyle;

nav {
  .menu-btn {
    border: 0;
    background: none;
  }

  &.dark {
    .menu-btn {
      @include variables.theme-bg(variables.$dark-one);
    }
  }

  &.light {
    .menu-btn {
      @include variables.theme-bg(variables.$light-one);
    }
  }

  .nav-overlay {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: all variables.$animationDuration variables.$animationStyle;

    &.expanded-overlay {
      opacity: 0.5 !important;
      z-index: 3 !important;
      pointer-events: all !important;
    }
  }
}

div.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 3px 10px 0px rgba(10, 10, 10, 0.5);

  button.menu-btn {
    width: 3.125rem;
  }

  h2 {
    margin: 0;
  }

  @include breakpoints.for-phone-only {
    width: 100vw;
    height: 3.125rem;
    display: flex;
    align-items: center;
  }

  @include breakpoints.for-tablet-portrait-up {
    display: none;
  }
}

ul.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  box-shadow: 0px -2px 15px 0px rgba(10, 10, 10, 0.3);

  @include breakpoints.for-phone-only {
    width: 100vw;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &.dark {
    @include variables.theme-bg($theme-bg: variables.$dark-two);

    a {
      @include variables.theme-color(variables.$dark-font);
    }
  }

  &.light {
    @include variables.theme-bg($theme-bg: variables.$light-two);
    a {
      @include variables.theme-color(variables.$light-font);
    }
  }

  li.nav-item {
    list-style: none;
  }
}

div.main-navbar {
  position: fixed;
  top: 0;
  width: 5rem;
  height: 100vh;
  left: 0;
  padding: 0.25rem 0.75rem;
  transition: $animationDuration all $animationStyle;

  @include breakpoints.for-phone-only {
    // display: none;
    width: 0%;
    padding: 0;
    pointer-events: none;
    z-index: 1;

    svg {
      opacity: 0;
    }
  }

  @include breakpoints.for-tablet-landscape-up() {
    top: 0;
    width: 5rem;
    height: 100vh;
    z-index: 99;
  }

  // Navigation Bar Header
  div.nav-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7.5vh;
    position: relative;
    margin: 0.25rem 0;

    @include breakpoints.for-phone-only {
      width: 0%;
      height: 5%;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
    }

    h1 {
      opacity: 0;
      font-size: 1.5rem;
      margin: 0;
      transition: all $animationDuration;
      white-space: nowrap;
    }

    button.menu-btn {
      border: 0;
      transition: all $animationDuration $animationStyle;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  // Navigation Tabs
  ul.navbar-nav {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    @include breakpoints.for-phone-only {
      height: 92.5%;
      width: 0%;
    }

    @include breakpoints.for-tablet-portrait-up {
      width: 100%;
    }

    svg {
      min-width: 3.5rem;
      width: 3.5rem;
      height: 1rem;
    }

    li.nav-item {
      width: 100%;
      height: 3.125rem;
      margin: 0.2rem 0;
      position: relative;

      a.nav-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        transition: $animationDuration all;
        text-decoration: none;

        span.link-text {
          opacity: 0;
          white-space: nowrap;
          transition: all calc($animationDuration - 200ms) $animationStyle;
          pointer-events: none;
        }
      }
      &:hover .nav-tooltip {
        opacity: 1;
        transform: translateX(10px) translateY(-45px);
      }
    }

    hr {
      width: 100%;
      margin: 0.25rem 0;
    }

    .theme-switcher {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      transition: $animationDuration all;

      .light-btn,
      .dark-btn {
        border: 0;
        align-items: center;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        transition: all calc($animationDuration - 200ms) $animationStyle;

        span {
          margin-left: 0.25rem;
          opacity: 0;
        }
      }

      .dark-btn.dark {
        width: 100%;
        opacity: 1;
        pointer-events: all;
        background-color: rgba($color: #fff, $alpha: 0.05);
        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.05);
        }
      }
      .dark-btn.light {
        width: 0%;
        opacity: 0;
        pointer-events: none;
      }

      .light-btn.light {
        width: 100%;
        opacity: 1;
        pointer-events: all;
        background-color: rgba($color: #000, $alpha: 0.05);
        &:hover {
          background-color: rgba($color: #000, $alpha: 0.05);
        }
      }
      .light-btn.dark {
        width: 0%;
        opacity: 0;
        pointer-events: none;
        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.05);
        }
      }
    }

    // Profile Tab
    li.nav-item.profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: auto;
      margin-bottom: 0.5rem;
      border-radius: 10px;
      height: 6.25rem;
      transition: all $animationDuration $animationStyle;

      a:first-child {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      a:last-child {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
    }

    // Tooltips
    span.nav-tooltip {
      position: absolute;
      left: calc(100% + 15px);
      transform: translateY(-45px);
      white-space: nowrap;
      border-radius: 5px;
      padding: 0.5rem 0.75rem;
      opacity: 0;
      z-index: 3;
      display: inline;
      transition: all $animationDuration $animationStyle;
      pointer-events: none;
    }
  }

  // Expanded Navbar
  &.expanded {
    width: 16rem;

    @include breakpoints.for-phone-only {
      // width: 0rem;
      padding: 0.25rem 0.75rem;
      pointer-events: all;
      z-index: 99;
      // display: block !important;

      svg {
        opacity: 1 !important;
      }

      div.nav-header {
        width: 100% !important;
      }

      ul.navbar-nav {
        width: 100% !important;
      }
    }

    div.nav-header {
      justify-content: space-between;

      h1 {
        opacity: 1 !important;
      }

      button.menu-btn {
        right: 0 !important;
        transform: translateX(-50%) !important;
      }
    }

    a.nav-link {
      justify-content: flex-start !important;
    }

    span.nav-tooltip {
      display: none !important;
    }

    span.link-text {
      opacity: 1 !important;
      pointer-events: all;
    }

    div.theme-switcher {
      .light-btn,
      .dark-btn {
        width: 7rem !important;
        opacity: 1 !important;
        pointer-events: all !important;
        span {
          opacity: 1 !important;
          display: inline !important;
        }
      }
    }

    li.profile {
      flex-direction: row !important;
      width: 16rem;
      height: 3.125rem !important;
      a {
        margin: 0 !important;
      }
      a:first-child {
        flex: 3;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      a:last-child {
        flex: 1;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        svg {
          width: 100%;
        }
      }
    }
  }

  // Dark Theme
  &.dark {
    a {
      @include variables.theme-color(variables.$dark-font);

      &.active {
        color: #000;
        background-color: #e5e5e5;
        &:hover {
          background-color: #e5e5e5;
        }
      }

      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.05);
      }
    }

    li.nav-item:last-child {
      background-color: rgba($color: #fff, $alpha: 0.1);
      // a:nth-child(1) {
      // }
    }

    .nav-tooltip {
      background-color: variables.$dark-two;
      @include variables.theme-color(variables.$dark-font);
      box-shadow: 0px 5px 10px rgba(92, 92, 92, 0.3);
    }

    button {
      @include variables.theme-color(variables.$dark-font);
    }

    .light-btn.dark {
      display: none;
    }
    .dark-btn.dark {
      display: flex;
    }
  }

  // Light Theme
  &.light {
    a {
      @include variables.theme-color(variables.$light-font);

      &.active {
        color: #fff;
        background-color: variables.$light-font;
        &:hover {
          background-color: variables.$light-font;
        }
      }

      &:hover {
        background-color: rgba($color: #000, $alpha: 0.05);
      }
    }

    .nav-tooltip {
      background-color: variables.$light-three;
      @include variables.theme-color(variables.$light-font);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }

    li.nav-item:last-child {
      background-color: rgba($color: #000, $alpha: 0.1);
    }

    button {
      @include variables.theme-color(variables.$light-font);
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
    }

    .light-btn.light {
      display: flex;
    }
    .dark-btn.light {
      display: none;
    }
  }
}
