#calculator{
   height: 400px;
   width: 300px;
   margin: 2% auto;

   background-color: silver;
   border: 5px solid white;
}

#answerscreen{
   height: 100px;
   width: 275px;
   margin: 12.5px auto;

   background-color: aliceblue;
   text-align: right;
}

.num-btn{
   height: 60px;
   width: 60px;
   margin: 2px;

   border-style: none;
   background-color: azure;
   font-family: Quicksand;
   font-size: 25px;
}

.num-btn:hover{
   background-color: beige;
}
