<%- include('head') %>
<link rel="stylesheet" href="css/calculator.css">
<script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<script src="js/calculator.js" defer></script>

</head>

<body class="" data-theme="">

   <%- include('navbar') %>

   <main>
      <!-- <div class="invisible-div"></div> -->

      <!-- Calculator from Desmos API-->
      <div class="container">

         <div id="calculator">

         </div>
      </div>
   </main>

</body>

</html>