<%- include('head') %>
</head>

<body class="dark">

   <%- include('navbar') %>

   <main class="">
      <div class="container">
         <h1>Welcome Back <%= userName %> </h1>
      </div>
   </main>

</body>

</html>