<%- include('head') %>

<link rel="stylesheet" href="css/prioritizer.css">

<!-- <script src="js/prioritizerTwo.js" defer></script> -->
<script src="js/prioritizer.js" type="module" defer></script>
</head>

<body class="" data-theme="">

  <%- include('navbar') %>

  <main>
    <div class="container">
      <div class="list-container">


        <form action="">
          <ul class="homework-list">
          </ul>

          <div class="prior-btns">
            <button class="btn btn-primary" id="addHwBtn"><i class="fa-solid fa-plus"></i></button>
            <button class="btn btn-success" id="prioritizeBtn">Prioritize</button>
          </div>
        </form>

        

        <ul class="done-homework-list">

        </ul>
        

      </div>
    </div>
  </main>

</body>

</html>