<%- include('head') %>

<!-- Animate.css -->
<link rel="stylesheet" href="vendor/animate.css-4.1.1/animate.css">
<!-- Hover.css -->
<link rel="stylesheet" href="vendor/Hover-master/css/hover.css">

<link rel="stylesheet" href="css/prioritizer.css">

<!-- <script src="js/prioritizerTwo.js" defer></script> -->
<script src="js/prioritizer.js" type="module" defer></script>
</head>

<body class="dark">

  <%- include('navbar') %>

  <main>
    <div class="container">
      <div class="list-container">


        <ul class="homework-list">
          <!-- <li class="homework-item">

            <div class="row name-input">
              <input class="hw-check" type="checkbox" name="doneCheck" id="doneCheck">
              <input class="hw-name" type="text" name="homeworkName" placeholder="Homework Name" required>
            </div>

            <div class="row options">
              <div class="col-6 date-input">
                <label for="dueDate">Due Date:</label>
                <input class="hw-date" type="date" name="dueDate">
              </div>
              <div class="col-6 type-input">
                <label for="homeworkType">Type:</label>
                <div class="hw-select">
                  <select class="hw-type" name="homeworkType">
                    <option value="Minor">Minor</option>
                    <option value="Major">Major</option>
                  </select>
                </div>
              </div>
            </div>

          </li> -->
        </ul>

        <div class="prior-btns">
          <button class="btn btn-primary" id="addHwBtn"><i class="fa-solid fa-plus"></i></button>
          <button class="btn btn-success" id="prioritizeBtn">Prioritize</button>
        </div>

        <form action="">
          <ul class="done-homework-list">

        </ul>  
        </form>
        

      </div>
    </div>
  </main>

</body>

</html>