<%- include('head') %>
<script src="js/timer.js" type="module"></script>
</head>

<body class="" data-theme="">
  <%- include('navbar') %>
  
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
        
        </div>
      </div>
    </div>
  </main>
</body>