#calcBase {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: auto;
   background-color: grey;
   border-radius: 15px;
}

#calcScreen {
   margin: 20px auto 5px;
   width: 90%;
   height: 20%;
   border-radius: 15px;
   background-color: darkgray;
   text-align: right;
}

#screenText {
   margin-right: 5px;
   color: black;
}

#calcBody {
   margin: 5px auto 20px;
   border-radius: 15px;
   width: 90%;
   height: 70%;
   background-color: darkgray;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-areas: 
   "num num num op"
   "num num num op"
   "num num num op"
   "num num num op"
   "bot bot bot op";
}


.numbers-functions{
   grid-area: num;
   display: grid;
   grid-template-columns: 33.33% 33.33% 33.33%;
}

.operators{
   grid-area: op;
   display: grid;
   grid-template-columns: 1fr;
}

.btm-row{
   grid-area: bot;
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.btn {
   background: #39B54a;
   border-radius: 0px;
   border: 0.25px grey solid;
}

.btn:hover {
   background: #bcf7ac;
}

.function-btn {
   background: #009245;
}

.operator-btn {
   background: #22B573;
}



#top-left-btn {
   border-top-left-radius: 15px;
}

#top-right-btn {
   border-top-right-radius: 15px;
}

#btm-left-btn {
   border-bottom-left-radius: 15px;
}

#btm-right-btn {
   border-bottom-right-radius: 15px;
}



@media screen and (min-device-width:320px) and (max-device-width:767px){
   #calcBase {
      height: 450px;
      width: 300px;
   }

   #screenText {
      font-size: 3.5rem;
   }

   .btn-text {
      font-size: 2rem;
   }
}

@media screen and (min-device-width:768px) {
   #calcBase {
      height: 600px;
      width: 400px;
      margin: auto;
   }

   #screenText{
      font-size: 4.5rem;
   }

   .btn-text {
      font-size: 2.5rem;
   }
}



