#calculator{
   width: 400px;
   height: 600px;
   background: #616263;
   margin: auto;
   border-radius: 15px;
}



#calcBase{
   margin: auto;
   height: 90%;
   width: 90%;
}

#calcScreen{
   width: 350px;
   height: 100px;
   background: #363636;
   margin: auto;
   border-radius: 15px;
}