#calendar {
   margin: auto;
   border-radius: 15px;
   width: 100%;
   background: #333333;
}

#monthYear {
   color: white;
}

.arrow {
   color: white;
}

.arrow:hover {
   color: aquamarine;
}

#calendarHeader {
   padding: 15px 10px;
}

#weekdays {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekday {
   padding: 10px;
   background: darkgray;
   color: black;
   border: 1px solid gray;
}

#calendarDays {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
   width: 100%;
   height: 125px;
   background: white;
   color: black;
   border: 1px solid gray;
   cursor: pointer;
}

.day:hover,
.day:focus,
.day:active {
   background: rgb(255, 255, 255, 0.8);
}

.day-num {
   margin: 5px;
}

.blank {
   background: #ececec;
}

.blank > .day-num{
   color: (0, 0, 0, 0.6);
}



:root{
   --animation-duration: 0.5s;
}