:root{
	font-size: 18px;
}

.homework-list {
  list-style-type: none;
}

.hw-name, 
.hw-date, 
.hw-type {
  background: #2d2d2d;
  color: white;
}

input, select{
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}

.hw-select{
	width: 1rem;
	height: 1rem;
}

#sortedDiv, #userDiv {
  display: none;
}

.stored-hw-item td{
	transition: all 250ms ease-in-out;
}

.stored-hw-item:hover td{
	text-decoration: line-through solid white 0.25rem;
	background-color: #272727;
}