nav .menu-btn {
  border: 0;
  background: none;
}
nav.dark a {
  background-color: #fff;
}
nav.dark .menu-btn {
  background-color: #212529;
}
nav.light a {
  background-color: #181c1f;
}
nav.light .menu-btn {
  background-color: #fff;
}
nav .nav-overlay {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease;
}
nav .nav-overlay.expanded-overlay {
  opacity: 0.5 !important;
  z-index: 3 !important;
  pointer-events: all !important;
}

div.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 3px 10px 0px rgba(10, 10, 10, 0.5);
}
div.mobile-header button.menu-btn {
  width: 3.125rem;
}
div.mobile-header h2 {
  margin: 0;
}
@media (max-width: 599px) {
  div.mobile-header {
    width: 100vw;
    height: 3.125rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 600px) {
  div.mobile-header {
    display: none;
  }
}

ul.mobile-bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  box-shadow: 0px -2px 15px 0px rgba(10, 10, 10, 0.3);
}
@media (max-width: 599px) {
  ul.mobile-bottom-nav {
    width: 100vw;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
ul.mobile-bottom-nav.dark {
  background-color: #373a3e;
}
ul.mobile-bottom-nav.dark a {
  color: #fff;
}
ul.mobile-bottom-nav.light {
  background-color: #b1b1b1;
}
ul.mobile-bottom-nav.light a {
  color: #181c1f;
}
ul.mobile-bottom-nav li.nav-item {
  list-style: none;
}

div.main-navbar {
  position: fixed;
  top: 0;
  width: 5rem;
  height: 100vh;
  left: 0;
  padding: 0.25rem 0.75rem;
  transition: 500ms all ease;
}
@media (max-width: 599px) {
  div.main-navbar {
    width: 0%;
    padding: 0;
    pointer-events: none;
    z-index: 1;
  }
  div.main-navbar svg {
    opacity: 0;
  }
}
@media (min-width: 900px) {
  div.main-navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    z-index: 99;
  }
}
div.main-navbar div.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.5vh;
  position: relative;
  margin: 0.25rem 0;
}
@media (max-width: 599px) {
  div.main-navbar div.nav-header {
    width: 0%;
    height: 5%;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
}
div.main-navbar div.nav-header h1 {
  opacity: 0;
  font-size: 1.5rem;
  margin: 0;
  transition: all 500ms;
  white-space: nowrap;
}
div.main-navbar div.nav-header button.menu-btn {
  border: 0;
  transition: all 500ms ease;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
div.main-navbar ul.navbar-nav {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
@media (max-width: 599px) {
  div.main-navbar ul.navbar-nav {
    height: 92.5%;
    width: 0%;
  }
}
@media (min-width: 600px) {
  div.main-navbar ul.navbar-nav {
    width: 100%;
  }
}
div.main-navbar ul.navbar-nav svg {
  min-width: 3.5rem;
  width: 3.5rem;
  height: 1rem;
}
div.main-navbar ul.navbar-nav li.nav-item {
  width: 100%;
  height: 3.125rem;
  margin: 0.2rem 0;
  position: relative;
}
div.main-navbar ul.navbar-nav li.nav-item a.nav-link {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 500ms all;
  text-decoration: none;
}
div.main-navbar ul.navbar-nav li.nav-item a.nav-link span.link-text {
  opacity: 0;
  white-space: nowrap;
  transition: all 300ms ease;
  pointer-events: none;
}
div.main-navbar ul.navbar-nav li.nav-item:hover .nav-tooltip {
  opacity: 1;
  transform: translateX(10px) translateY(-45px);
}
div.main-navbar ul.navbar-nav hr {
  width: 100%;
  margin: 0.25rem 0;
}
div.main-navbar ul.navbar-nav .theme-switcher {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: 500ms all;
}
div.main-navbar ul.navbar-nav .theme-switcher .light-btn,
div.main-navbar ul.navbar-nav .theme-switcher .dark-btn {
  border: 0;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 300ms ease;
}
div.main-navbar ul.navbar-nav .theme-switcher .light-btn span,
div.main-navbar ul.navbar-nav .theme-switcher .dark-btn span {
  margin-left: 0.25rem;
  opacity: 0;
}
div.main-navbar ul.navbar-nav .theme-switcher .dark-btn.dark {
  display: flex;
  width: 100%;
  opacity: 1;
  pointer-events: all;
  background-color: #2c3034;
}
div.main-navbar ul.navbar-nav .theme-switcher .dark-btn.dark:hover {
  background-color: #373a3e;
}
div.main-navbar ul.navbar-nav .theme-switcher .dark-btn.light {
  display: none;
  width: 0%;
  opacity: 0;
  pointer-events: none;
}
div.main-navbar ul.navbar-nav .theme-switcher .light-btn.light {
  display: flex;
  width: 100%;
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.1);
}
div.main-navbar ul.navbar-nav .theme-switcher .light-btn.light:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
div.main-navbar ul.navbar-nav .theme-switcher .light-btn.dark {
  display: none;
  width: 0%;
  opacity: 0;
  pointer-events: none;
}
div.main-navbar ul.navbar-nav .theme-switcher .light-btn.dark:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
div.main-navbar ul.navbar-nav li.nav-item.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  height: 6.25rem;
  transition: all 500ms ease;
}
div.main-navbar ul.navbar-nav li.nav-item.profile a:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.main-navbar ul.navbar-nav li.nav-item.profile a:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
div.main-navbar ul.navbar-nav span.nav-tooltip {
  position: absolute;
  left: calc(100% + 15px);
  transform: translateY(-45px);
  white-space: nowrap;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  opacity: 0;
  z-index: 3;
  display: inline;
  transition: all 500ms ease;
  pointer-events: none;
}
div.main-navbar.expanded {
  width: 16rem;
}
@media (max-width: 599px) {
  div.main-navbar.expanded {
    padding: 0.25rem 0.75rem;
    pointer-events: all;
    z-index: 99;
  }
  div.main-navbar.expanded svg {
    opacity: 1 !important;
  }
  div.main-navbar.expanded div.nav-header {
    width: 100% !important;
  }
  div.main-navbar.expanded ul.navbar-nav {
    width: 100% !important;
  }
}
div.main-navbar.expanded div.nav-header {
  justify-content: space-between;
}
div.main-navbar.expanded div.nav-header h1 {
  opacity: 1 !important;
}
div.main-navbar.expanded div.nav-header button.menu-btn {
  right: 0 !important;
  transform: translateX(-50%) !important;
}
div.main-navbar.expanded a.nav-link {
  justify-content: flex-start !important;
}
div.main-navbar.expanded span.nav-tooltip {
  display: none !important;
}
div.main-navbar.expanded span.link-text {
  opacity: 1 !important;
  pointer-events: all;
}
div.main-navbar.expanded div.theme-switcher .light-btn,
div.main-navbar.expanded div.theme-switcher .dark-btn {
  display: flex;
  width: 7rem !important;
  opacity: 1 !important;
  pointer-events: all !important;
}
div.main-navbar.expanded div.theme-switcher .light-btn span,
div.main-navbar.expanded div.theme-switcher .dark-btn span {
  opacity: 1 !important;
  display: inline !important;
}
div.main-navbar.expanded li.profile {
  flex-direction: row !important;
  width: 16rem;
  height: 3.125rem !important;
}
div.main-navbar.expanded li.profile a {
  margin: 0 !important;
}
div.main-navbar.expanded li.profile a:first-child {
  flex: 3;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.main-navbar.expanded li.profile a:last-child {
  flex: 1;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
div.main-navbar.expanded li.profile a:last-child svg {
  width: 100%;
}
div.main-navbar.dark a {
  color: #fff;
}
div.main-navbar.dark a.active {
  color: #000 !important;
  background-color: #e5e5e5;
}
div.main-navbar.dark a.active:hover {
  background-color: #e5e5e5;
}
div.main-navbar.dark a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
div.main-navbar.dark li.nav-item:last-child {
  background-color: rgba(255, 255, 255, 0.1);
}
div.main-navbar.dark .nav-tooltip {
  background-color: #373a3e;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(92, 92, 92, 0.3);
}
div.main-navbar.dark button {
  color: #fff;
}
div.main-navbar.dark .light-btn.dark {
  display: none;
}
div.main-navbar.dark .dark-btn.dark {
  display: flex;
}
div.main-navbar.light a {
  color: #181c1f;
}
div.main-navbar.light a.active {
  color: #fff !important;
  background-color: #181c1f;
}
div.main-navbar.light a.active:hover {
  background-color: #181c1f;
}
div.main-navbar.light a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
div.main-navbar.light .nav-tooltip {
  background-color: #f2f2f2;
  color: #181c1f;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
div.main-navbar.light li.nav-item:last-child {
  background-color: rgba(0, 0, 0, 0.1);
}
div.main-navbar.light button {
  color: #181c1f;
}
div.main-navbar.light button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
div.main-navbar.light .light-btn.light {
  display: flex;
}
div.main-navbar.light .dark-btn.light {
  display: none;
}

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #212529;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #181c1f;
}

body {
  font-family: "Quicksand", sans-serif;
}
body a {
  text-decoration: none;
}
body.dark {
  background-color: #151619;
}
body.dark a {
  color: #fff;
}
body.dark input,
body.dark select {
  color: #fff;
}
body.light {
  background-color: #f2f2f2;
}
body.light a {
  color: #fff;
}
body.light input,
body.light select {
  color: #181c1f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

main {
  transition: all 500ms ease;
}
@media (max-width: 599px) {
  main {
    margin: 5.75rem 0.5rem;
  }
}
@media (min-width: 600px) {
  main {
    margin: 4.75rem 0 4.75rem 5rem;
  }
}
@media (min-width: 1200px) {
  main.expanded {
    margin-left: 16rem;
  }
}

.row {
  margin: 1rem 0;
}
.row .card {
  border-radius: 10px;
}
.row .card .card-body {
  padding: 1rem;
}
.row .card .card-body .card-title,
.row .card .card-body .card-text {
  margin: 1rem 0;
  padding: 0.5rem;
}

.get-started .get-started-link {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.get-started .get-started-link svg {
  transition: all 200ms ease-in-out;
}
.get-started .get-started-link:hover {
  transform: scale(1.5);
}
.get-started .get-started-link:hover svg {
  transform: translateX(10px);
}

@media (min-width: 1200px) {
  .dash-assignments {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
