body {
    background-color: black;
    font-family: Quicksand;
    color: white;
    text-align: center;
}

.invisible-div {
    height: 50px;
}

.nav-item:hover {
    background-color: #4f4e4e !important;
    border-radius: 5px;
}